.callout {
	max-width: 400px;
    margin: 10px;
    border: 1px solid rgba (0, 0, 0, .1);
    padding: 15px;
    background-color: #247;
    color: white;
}

.callout img {
	float: right;
    margin: 10px;
    border: 4px solid gray;
    padding:2px;
    background-color: gray;
    width: 100px;
    height: auto;
}

blockquote {
	margin: 3px;
}

cite {
	display: block;
    border-top: 1px dotted gray;
    padding-top: 2px;
    text-align: right;
    font-size: smaller;
}